{% extends "general_master.html" %}
{% from "form_helpers.html" import render_field, render_form_buttons %}
{% block content %}
    <h1 class="title">
        {% if event %}
            Edit "{{ event.title }}"
        {% else %}
            Create Event
        {% endif %}
    </h1>
    <form method="POST">
        {{ render_field(form.title) }}
        {{ render_field(form.description) }}
        {{ render_field(form.start_date) }}
        {% if event %}
            {{ render_field(form.status) }}
        {% endif %}
        {{ render_field(form.submission_deadline) }}
        {{ render_field(form.review_deadline) }}
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link">Submit</button>
            </div>
            <div class="control">
                <a href="{{ url_for(".index") }}" class="button is-link is-light">Cancel</a>
            </div>
        </div>
    </form>

{% endblock %}