{% extends "general_master.html" %}
{% from "form_helpers.html" import render_field, render_form_buttons %}
{% block content %}
    <h1 class="title">
        {% if submission %}
            Edit "{{ submission.album_title }}" by {{ submission.submitter_name }}
        {% else %}
            Add submission
        {% endif %}
    </h1>
    <form method="POST">
        {{ render_field(form.title) }}
        {{ render_field(form.link) }}
        {{ render_field(form.secondary_link) }}
        {{ render_field(form.submitter) }}
        {{ render_field(form.recipient) }}
        {{ render_field(form.blurb) }}
        {{ render_field(form.review) }}
        {{ render_field(form.force_cover_url) }}
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link">Submit</button>
            </div>

        </div>
    </form>

{% endblock %}