{% extends "general_master.html" %}
{% from "form_helpers.html" import render_field, render_form_buttons %}
{% from "user_helpers.html" import submitter_name, receiver_name %}
{% from "macros/submissionsContext.html" import submissions_context %}

{% block content %}
    <div x-data=" { submissionToDelete: null }">
        <div id="event-content" x-data="submissionsContext">
            <h1 class="title">
                {{ event.title }}
            </h1>
            <div class="block">
                <strong>Status:</strong> {{ event.status.displayname }}<br>
                <strong>Start date:</strong> {{ event.start_date }}<br>
                <strong>Submission deadline:</strong> {% if event.submission_deadline %}{{ event.submission_deadline }} UTC{% endif %}<br>
                <strong>Review deadline:</strong> {% if event.submission_deadline %}{{ event.review_deadline }} UTC{% endif %}<br>
                <strong>Description</strong>
                <div class="box content">
                    {{ event.description | markdown }}
                </div>
                <a href="{{ url_for(".edit_event", slug=event.slug) }}" class="button is-primary">Edit</a>
                {% if current_user.full_admin %}
                    <input type="submit" class="button is-danger" value="Delete" form="deleteform">
                    <form method="POST" id="deleteform" action="{{ url_for(".delete_event", slug=event.slug) }}">
                    </form>
                {% endif %}
            </div>
            <h2 class="subtitle">Submissions</h2>
            <a class="button is-primary" href="{{ url_for(".add_submission", event_slug = event.slug) }}"><i class="fas fa-plus"></i> Add Submission</a>
            <table class="table is-striped is-fullwidth">
                <thead>
                <th></th>
                <th>Submitter <em>({{ submissions | length }})</em></th>
                <th>Album Title</th>
                <th>Streaming Link</th>
                <th>Recipient</th>
                <th>Blurb</th>
                <th>Reviewed</th>
                <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for submission in submissions %}
                    <tr>
                        <td>
                            <a @click="showLightbox({{ submission.id }})">
                                <figure class="image is-64x64">
                                    {% if submission.cover_url %}
                                        <img src="{{ submission.cover_url }}">
                                    {% else %}
                                        <img src="/static/cancel.png">
                                    {% endif %}
                                </figure>
                            </a>
                        </td>
                        <td>
                            {{ submitter_name(submission) }}
                        </td>
                        <td>
                            {{ submission.album_title }}
                        </td>
                        <td>
                            <a href="{{ submission.link }}">{{ submission.link }}</a>
                            {% if submission.secondary_link %}
                                <br>
                                <a href="{{ submission.secondary_link }}">{{ submission.secondary_link }}</a>
                            {% endif %}
                        </td>
                        <td>
                            {{ receiver_name(submission) }}
                        </td>
                        <td>
                            {% if submission.blurb %}{{ submission.blurb }}{% endif %}
                        </td>
                        <td>
                            {% if submission.review %}<i class="fas fa-check"></i>{% endif %}
                        </td>
                        <td>
                            <a href="{{ url_for(".edit_submission", event_slug=event.slug, id=submission.id) }}"><i class="fas fa-edit"></i> </a>
                            {% if current_user.full_admin %}
                                <a @click="submissionToDelete = {{ submission.id }}"><i class="fas fa-trash"></i> </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if event.status == event.status.open %}
                <form method="POST" action="{{ url_for(".pair_event", slug=event.slug) }}">
                    <input type="submit" class="button is-link" value="Pair!">
                </form>
            {% endif %}
            {% if event.status == event.status.paired %}
                <form method="POST" action="{{ url_for(".finish_event", slug=event.slug) }}">
                    <input type="submit" class="button is-link" value="Finish!">
                </form>
            {% endif %}
            <div class="modal" :class="submissionToDelete != null ? 'is-active' : null">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Warning</p>
                        <button class="delete" aria-label="close" @click="submissionToDelete = null"></button>
                    </header>
                    <section class="modal-card-body">
                        Really delete this? This cannot be undone
                    </section>
                    <footer class="modal-card-foot">
                        <input type="submit" class="button is-danger" value="Delete" form="confirmdeletion">
                        <button class="button" @click="submissionToDelete = null">Cancel</button>
                    </footer>
                    <form method="POST" action="{{ url_for(".delete_submission") }}" id="confirmdeletion">
                        <input type="hidden" name="id" :value="submissionToDelete">
                    </form>
                </div>
            </div>
            {{ submissions_context(submissions) }}
        </div>
    </div>
{% endblock %}