{% extends "general_master.html" %}

{% block content%}
    <div id="idea-content" x-data="{ ideaToDelete: null }">
        <h1 class="title">Theme Ideas</h1>
        <table class="table is-striped">
            <thead>
            <tr>
                <th>Upvotes</th>
                <th>Idea</th>
                <th>Votes for rejection</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for idea, vote_count in open_ideas %}
                <tr>
                    <td>
                        {{ vote_count }}
                    </td>
                    <td>
                        {{ idea.text }}
                    </td>
                    <td>
                        <a title="{{ rejection_vote_users.get(idea.id, '') | safe }}"> {{ rejection_vote_counts.get(idea.id, 0) }}</a>
                    </td>
                    <td>
                        {% if idea.id in user_rejection_vote_dict %}
                        <a href="{{ url_for(".remove_vote_reject_idea", id=idea.id) }}" title="Vote for rejection" class="has-text-success">
                            <i class="fas fa-thumbs-down"></i>
                        </a>
                        {% else %}
                        <a href="{{ url_for(".vote_reject_idea", id=idea.id) }}" title="Vote for rejection">
                            <i class="fas fa-thumbs-down"></i>
                        </a>
                        {% endif %}
                        <a href="{{ url_for(".reject_idea", id=idea.id) }}" title="Reject"><i class="fas fa-ban"></i> </a>
                        <a @click="ideaToDelete = {{ idea.id }}" title="Delete"><i class="fas fa-trash"></i> </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2 class="subtitle">Rejected</h2>
        <table class="table is-striped">
            <tbody>
            {% for idea in rejected_ideas %}
                <tr>
                    <td>
                        {{ idea.text }}
                    </td>
                    <td>
                        <a href="{{ url_for(".unreject_idea", id=idea.id) }}" title="Re-Accept"><i class="fas fa-thumbs-up"></i> </a>
                        <a @click="ideaToDelete = {{ idea.id }}"><i class="fas fa-trash"></i> </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="modal" :class="ideaToDelete != null ? 'is-active' : null">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Warning</p>
                    <button class="delete" aria-label="close" @click="ideaToDelete = null"></button>
                </header>
                <section class="modal-card-body">
                    Really delete this? This cannot be undone
                </section>
                <footer class="modal-card-foot">
                    <input type="submit" class="button is-danger" value="Delete" form="confirmdeletion">
                    <button class="button" @click="ideaToDelete = null">Cancel</button>
                </footer>
                <form method="POST" action="{{ url_for(".delete_idea") }}" id="confirmdeletion">
                    <input type="hidden" name="id" :value="ideaToDelete">
                </form>
            </div>
        </div>
    </div>
{% endblock %}