{% extends "general_master.html" %}
{% block content %}
    <h1 class="title" xmlns="http://www.w3.org/1999/html">
        Events
    </h1>
    <a class="button is-primary" href="{{ url_for(".create_event") }}">Create New</a>
    <table class="table is-striped is-fullwidth" style="margin-top: 16px">
        <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Status
            </th>
            <th>
                Public
            </th>
            <th>
                Start Date
            </th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ url_for(".show_event", slug=event.slug) }}">
                    {{ event.title }}</a>
                </td>
            <td>{{ event.status.displayname }}</td>
                <td><a href="{{ url_for("web.event_page", slug=event.slug) }}">Public Link</a></td>
            <td>{{ event.start_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}