{% extends "general_master.html" %}
{% from "user_helpers.html" import submitter_name, receiver_name %}

{% block content %}
    <h1 class="title">
        Shitlist
    </h1>
    {% for event in shitlist %}
        <div class="box content">
        <h2>{{ event.title }}
            {% if event.submission_deadline %}
            (Deadline: {{ event.submission_deadline }} UTC)
            {% endif %}
        </h2>
        <ul>
            {% for s in event.submissions %}
                <li>{{ receiver_name(s) }} ({{ s.album_title }})</li>
                {% endfor %}
        </ul>
        </div>
    {% endfor %}
{% endblock %}