{% extends "general_master.html" %}
{% block content %}
    <h1 class="title">
        Users
    </h1>

    <table class="table is-striped is-fullwidth">
        <thead>

        <th>User <em>({{ users | length }})</em></th>
        <th>Role</th>
        <th>Banned</th>
        <th>Roles</th>
        <th>Ban</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>
                    <div>
                        {{ user.name }} <span class="has-text-primary"> #{{ user.discriminator }}</span>
                    </div>
                </td>
                <td>
                    {% if user.role.value == "admin" %}
                        <i class="fas fa-hammer"></i>
                    {% endif %}
                {% if user.role.value == "runner" %}
                        <i class="fas fa-running"></i>
                    {% endif %}
                </td>
                <td>
                    {% if user.banned %}<i class="fas fa-check"></i>{% endif %}
                </td>
                <td>
                    {% if user.can_administer %}
                        <a href="{{ url_for(".remove_roles", id=user.id) }}" title="Remove Admin or Event Runner">
                            <i class="fas fa-user-minus"></i>
                        </a>
                    {% else %}
                        <a href="{{ url_for(".add_admin", id=user.id, enable=1) }}" title="Make Admin">
                            <i class="fas fa-hammer"></i>
                        </a>
                        <a href="{{ url_for(".add_runner", id=user.id, enable=1) }}" title="Make Event Runner">
                            <i class="fas fa-running"></i>
                        </a>
                    {% endif %}


                </td>
                <td>
                    {% if user.banned %}
                        <a href="{{ url_for(".toggle_ban", id=user.id) }}" title="Unban">
                            <i class="fas fa-unlock"></i>
                        </a>
                    {% else %}
                        <a href="{{ url_for(".toggle_ban", id=user.id, enable=1) }}" title="Ban">
                            <i class="fas fa-lock"></i>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
