{% from "user_helpers.html" import submitter_name, receiver_name %}

{% macro submissions_context(submissions) -%}
    <template x-if="selectedSubmission !== null">
        <div class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title" x-text="selectedSubmission.title"></p>
                    <button class="delete" aria-label="close" @click="closeReview()"></button>
                </header>
                <section class="modal-card-body">
                    <div class="tile is-ancestor">
                        <div class="tile is-vertical is-parent">
                            <div class="tile">
                                <div class="tile is-3 is-horizontal is-primary">
                                    <figure class="image is-128x128">
                                        <img :src="selectedSubmission.coverUrl">
                                    </figure>
                                </div>
                                <div class="tile">
                                    <div class="content">
                                        <h3></h3>

                                        <p>
                                            <strong>Selected by:</strong> <span x-html="selectedSubmission.submitter"></span> <br>
                                            <strong>Reviewed by:</strong> <span x-html="selectedSubmission.recipient"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tile content notification has-background-grey-darker is-child" x-html="selectedSubmission.review">

                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button" @click="closeReview()">Close</button>
                </footer>
            </div>
        </div>
    </template>
    <template x-if="lightBoxImage !== null">
        <div class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-content">
                <p class="image">
                    <img :src="lightBoxImage">
            </div>
            <button class="modal-close is-large" aria-label="close"  @click="lightBoxImage = null"></button>
        </div>
    </template>

    <script>
        const submissions = [
            {% for submission in submissions %}
                {
                    id: "{{ submission.id }}",
                    title: "{{ submission.album_title }}",
                    submitter: {{ submitter_name(submission) | replace("\n","") | tojson}},
                    recipient: {{ receiver_name(submission) | replace("\n","") | tojson}},
                    review: {% if submission.review %}{{ submission.review | markdown | replace("\n"," ") | tojson }}{% else %}""{% endif %},
                    coverUrl: "{{ submission.cover_url }}"
                },
            {% endfor %}
        ];

        document.addEventListener('alpine:init', () => {
            Alpine.data('submissionsContext', () => ({
                submissions: submissions,
                selectedSubmission: null,
                lightBoxImage: null,

                selectSubmission(id) {
                    let selected = this.submissions.filter(s => { return s.id == id });
                    if (selected.length > 0) {
                        this.selectedSubmission = selected[0];
                    }
                },

                closeReview() {
                    this.selectedSubmission = null;
                },
                showLightbox(submissionId) {
                    let selected = this.submissions.filter(s => { return s.id == submissionId });
                    if (selected.length > 0) {
                        this.lightBoxImage = selected[0].coverUrl;
                    }
                }
            }))
        })
    </script>
{%- endmacro %}
