{% extends "general_master.html" %}
{% from "user_helpers.html" import submitter_name, receiver_name %}
{% from "macros/submissionsContext.html" import submissions_context %}

{% block content%}
    <div x-data="submissionsContext">
        <h1 class="title">{{ event.title }}</h1>

        <div class="content">
            {{ event.description | markdown }}
        </div>

        {% for submission in submissions %}
            <div class="box">
                <div class="tile is-ancestor">
                    <div class="tile is-vertical is-parent">
                        <div class="tile">
                            <div class="tile is-1 is-horizontal is-primary">
                                <a @click="showLightbox({{ submission.id }})">
                                    <figure class="image is-128x128">
                                        {% if submission.cover_url %}
                                            <img src="{{ submission.cover_url }}">
                                        {% else %}
                                            <img src="/static/cancel.png">
                                        {% endif %}
                                    </figure>
                                </a>
                            </div>
                            <div class="tile">
                                <div class="content">
                                    <h3>{{ submission.album_title }}</h3>

                                    <p>
                                        {% if submission.link %}
                                            <a href="{{ submission.link }}">{{ submission.link }}</a>
                                        {% endif %}
                                        {% if submission.secondary_link %}
                                            <br>
                                            <a href="{{ submission.secondary_link }}">{{ submission.secondary_link }}</a>
                                        {% endif %}
                                        <br>
                                        <strong style="margin-right: 4px">Selected by:</strong> {{ submitter_name(submission) }}<br>
                                        <strong style="margin-right: 4px">Reviewed by:</strong> {{ receiver_name(submission) }}
                                    <p>
                                        {% if submission.blurb %}
                                            <em>{{ submission.blurb }}</em>
                                        {% endif %}
                                    </p>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="tile content notification has-background-grey-darker is-child is-12">
                            {{ submission.review | markdown if submission.review else "" }}
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
        {{ submissions_context(submissions) }}
    </div>
{% endblock %}