{% extends "master.html" %}

{% block navbar %}
    <nav class="navbar" role="navigation" aria-label="main navigation" id="navbar" x-data="{ showUsermenu: false, showNavbar: false }">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <strong>Shredditcord Album Exchange</strong>
            </a>

            <a role="button" class="navbar-burger burger"
               aria-label="menu"
               aria-expanded="false"
               @click="showNavbar =! showNavbar"
               :class="showNavbar ? 'is-active' : null">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu" :class="showNavbar ? 'is-active' : null"">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ url_for("web.index") }}">
                    Events
                </a>

                <a class="navbar-item" href="{{ url_for("web.ideas")}}">
                    Theme ideas
                </a>
                <a class="navbar-item" href="{{ url_for("web.user_list")}}">
                    User History
                </a>
                {% if current_user.can_administer %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link has-text-weight-bold has-text-success">
                            Admin
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="{{ url_for("admin.index") }}">
                                Manage Events
                            </a>

                            <a class="navbar-item" href="{{ url_for("admin.shitlist")}}">
                                Shitlist
                            </a>
                            {% if current_user.full_admin %}
                                <a class="navbar-item" href="{{ url_for("admin.ideas")}}">
                                    Manage ideas
                                </a>
                                <a class="navbar-item" href="{{ url_for("admin.users")}}">
                                    Users
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    </div>

                {% endif %}
        </div>
        <div class="navbar-end">
            <div class="navbar-item" :class="showUsermenu ? 'is-active' : null">
                <figure class="image is-32x32">
                    <img class="is-rounded" src="{{ current_user.avatar_url }}" style="max-height: 32px">
                </figure>

                <div class="navbar-link" @click="showUsermenu = !showUsermenu">
                    {{ current_user.name }} <span class="has-text-dark"> #{{ current_user.discriminator }}</span>
                </div>

                <div class="navbar-dropdown is-right">
                    <a class="navbar-item" href="{{ url_for("logout") }}">
                        Logout
                    </a>
                </div>
            </div>
        </div>
        </div>
    </nav>
{% endblock %}