{% extends "general_master.html" %}
{% from "form_helpers.html" import render_field, render_form_buttons %}

{% block content%}
    <h1 class="title">Theme Ideas</h1>
    <table class="table is-striped">

        <tbody>
        {% for idea, vote_count in open_ideas %}
            <tr>
                <td>
                    {% if idea.id in user_vote_dict %}
                        <a href="{{ url_for(".remove_idea_vote", id=idea.id) }}" class="has-text-success">
                            <i class="fas fa-arrow-up"></i>
                        </a>
                    {% else %}
                        <a href="{{ url_for(".upvote_idea", id=idea.id) }}" class="has-text-white">
                            <i class="fas fa-arrow-up"></i>
                        </a>
                    {% endif %}
                    {{ vote_count }}
                </td>
                <td>
                    {{ idea.text }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if rejected_ideas | length > 0 %}
        <h2 class="subtitle">Rejected</h2>
        <table class="table is-striped">
            <tbody>
            {% for idea in rejected_ideas %}
                <tr>
                    <td>
                        {{ idea.text }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <div class="content box has-background-primary-dark">
        <h2>Submit idea</h2>
        <form method="POST">
            {{ render_field(form.text) }}
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-link">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}