{% extends "master.html" %}

{% block content %}
    <section class="hero is-light">
        <div class="hero-body">
            <div class="container">
                <h1 class="title is-centered">
                    Shredditcord Album Exchange
                </h1>
                <form method="post">
                    <button type="submit" class="button is-blurple">
        <span class="icon">
      <i class="fab fa-discord"></i>
    </span>
                        <span>Login with Discord</span>
                    </button>
                </form>
            </div>
        </div>
    </section>

{% endblock %}