{% extends "general_master.html" %}

{% block content%}
    <h1 class="title">Shredditcord Album-Exchange</h1>
    <section class="section">
    <h2 class="subtitle">Current Events</h2>
    {% for event in current_events %}
        <a href="{{ url_for(".event_page", slug=event.slug) }}">
        <article class="message is-primary">
            <div class="message-body">
                <div class="is-size-4">{{ event.title }}</div>
                <div>{{ event.start_date }}</div>
            </div>
        </article>
        </a>
    {% endfor %}
    </section>
    <section class="section">
    <h2 class="subtitle">Finished Events</h2>
    {% for event in past_events %}
        <a href="{{ url_for(".event_page", slug=event.slug) }}">
        <article class="message">
            <div class="message-body">
                <div class="is-size-4">{{ event.title }}</div>
                <div>{{ event.start_date }}</div>
            </div>
        </article>
        </a>
    {% endfor %}
    </section>

{% endblock %}