{% extends "general_master.html" %}
{% from "form_helpers.html" import render_field, render_form_buttons %}
{% from "user_helpers.html" import receiver_name %}
{% from "macros/submissionsContext.html" import submissions_context %}

{% block content %}
    <div id="event-content" x-data="submissionsContext">
        <h1 class="title">{{ event.title }}</h1>
        <h2 class="subtitle has-text-info"
            x-data="{ now: spacetime('{{ event.submission_deadline }}', 'UTC').goto(Intl.DateTimeFormat().resolvedOptions().timeZone) }">
            Review deadline: <span
                x-text="now.format('{year}-{month-iso}-{date-pad} {hour-24-pad}:{minute-pad}')"></span> (your time)
        </h2>

        {% if album %}
            <div class="content box has-background-primary-dark">
                <h2>Your designated album</h2>
                {% if album.cover_url %}
                    <img src="{{ album.cover_url }}" class="coverImage"><br>
                {% endif %}
                <strong>{{ album.album_title }}</strong><br>
                {% if album.link %}
                    <a href="{{ album.link }}">{{ album.link }}</a>
                {% endif %}
                {% if album.secondary_link %}
                    <br>
                    <a href="{{ album.secondary_link }}">{{ album.secondary_link }}</a>
                {% endif %}
                {% if album.blurb %}
                    <p>
                        {{ album.blurb }}
                    </p>
                {% endif %}
                <hr>
                <form method="POST" action="{{ url_for(".review_album", slug=event.slug) }}">
                    <h2>Add Review</h2>
                    {{ render_field(form.text) }}
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link">{% if submission %}Edit{% else %}Submit{% endif %}</button>
                        </div>
                    </div>
                </form>
            </div>

        {% endif %}

        <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <th></th>
                <th>Album</th>
                <th>Streaming Link</th>
                <th>Recipient</th>
                <th>Blurb</th>
                <th>Review</th>
            </tr>
            </thead>
            <tbody>
            {% for submission in submissions %}
                <tr>
                    <td>
                        <a @click="showLightbox({{ submission.id }})">
                            <figure class="image is-64x64">
                                {% if submission.cover_url %}
                                    <img src="{{ submission.cover_url }}">
                                {% else %}
                                    <img src="/static/cancel.png">
                                {% endif %}
                            </figure>
                        </a>

                    </td>
                    <td>
                        {{ submission.album_title }}
                    </td>
                    <td>
                        <a href="{{ submission.link }}">{{ submission.link }}</a>
                        {% if submission.secondary_link %}
                            <br>
                            <a href="{{ submission.secondary_link }}">{{ submission.secondary_link }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {{ receiver_name(submission) }}
                    </td>
                    <td>{{ submission.blurb }}</td>
                    <td>
                        {% if submission.review %}
                            <a @click="selectSubmission({{ submission.id }})"><i class="fas fa-eye"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ submissions_context(submissions) }}

    </div>


{% endblock %}

{% block scripts %}
<style>
    .coverImage {
        max-width: 250px;
        height: 250px;
    }
    @media only screen and (min-width: 768px) {
        .coverImage {
            max-width: 400px;
            height: 400px;
        }
    }
</style>
{% endblock %}