{% extends "general_master.html" %}
{% from "form_helpers.html" import render_field, render_form_buttons %}

{% block content%}
    <div id="submission-content">
        <h1 class="title">{{ event.title }}</h1>
        <h2 class="subtitle has-text-info" x-data="{ now: spacetime('{{ event.submission_deadline }}', 'UTC').goto(Intl.DateTimeFormat().resolvedOptions().timeZone) }">
            Submission deadline: <span x-text="now.format('{year}-{month-iso}-{date-pad} {hour-24-pad}:{minute-pad}')"></span> (your time)
        </h2>
        <div class="content">
            {{ event.description | markdown }}
        </div>
        {% if banned %}
            <div class="notification is-danger">
                You are banned from the event
            </div>
        {% endif %}

        {% if submission %}
            <div class="content box has-background-primary-dark">
                <h2>Your submission</h2>
                {% if submission.cover_url %}
                    <img src="{{ submission.cover_url }}" style="max-width: 400px; max-height: 400px"><br>
                {% endif %}
                <strong>{{ submission.album_title }}</strong><br>
                {% if submission.link %}
                    <a href="{{ submission.link }}">{{ submission.link }}</a><br>
                {% endif %}
                {% if submission.secondary_link %}
                    <a href="{{ submission.secondary_link }}">{{ submission.secondary_link }}</a>
                {% endif %}
            </div>
        {% endif %}
        {% if form %}
            <form method="POST" enctype="multipart/form-data">
                {{ render_field(form.title) }}
                {{ render_field(form.link) }}
                {{ render_field(form.secondary_link) }}
                {{ render_field(form.blurb) }}
                {{ render_field(form.cover) }}
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-link">{% if submission %}Edit{% else %}Submit{% endif %}</button>
                    </div>
                </div>
            </form>
        {% endif %}
        <div class="box" style="margin-top: 48px">
            <div class="content">
                <h2>Rules</h2>
                <div class="block">
                    <p>
                        The spirit of the exchange is to have fun and get out of your musical comfort zone. <strong>JOKE SUBMISSIONS ARE NOT ALLOWED</strong></p>
                    <p>Albums submitted with goal of joking around and being shit on purpose will lead to the submission being ignored and the participant being banned from future events.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}