{% macro user_field(name, discriminator, avatar_url) %}
    <span style="line-height: 32px">
            {% if avatar_url %}
            <img src="{{ avatar_url }}" style="width: 32px;
            height: 32px;
            border-radius: 50%;
            vertical-align:middle;
            margin-right: 8px;">
            {% endif %}
        <span>{{ name }}</span><span class="has-text-primary">#{{ discriminator }}</span>
    </span>
{% endmacro %}

{% macro submitter_name(submission) %}
    {% if submission.submitter_id %}
        {{ user_field(submission.submitter.name, submission.submitter.discriminator, submission.submitter.avatar_url) }}
    {% else %}
        <span>{% if submission.submitter_name %}{{ submission.submitter_name }}{% endif %}</span>
    {% endif %}
{% endmacro %}

{% macro receiver_name(submission) %}
    {% if submission.receiver_id %}
        {{ user_field(submission.receiver.name, submission.receiver.discriminator, submission.receiver.avatar_url) }}
    {% else %}
        <span>{% if submission.receiver_name %}{{ submission.receiver_name }}{% endif %}</span>
    {% endif %}

{% endmacro %}