{% extends "general_master.html" %}
{% from "user_helpers.html" import user_field %}

{% block content%}
    <div id="submission-content">
        <h1 class="title">User History</h1>

         <table class="table is-striped is-fullwidth">
         <thead>
         <tr>
             <th>User</th>
             <td>Submission Count</td>
         </tr>
         </thead>
            <tbody>
            {% for user, count in users %}
                <tr>
                    <td>
                        <a href="{{ url_for(".user_history", id=user.id) }}">
                        {{ user_field(user.name, user.discriminator, user.avatar_url) }}
                        </a>
                    </td>
                <td>{{ count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}