{% extends "general_master.html" %}
{% from "user_helpers.html" import submitter_name, receiver_name, user_field %}
{% from "macros/submissionsContext.html" import submissions_context %}

{% block content%}
    <div id="event-content" x-data="submissionsContext">
        <h1 class="title">{{ user_field(user.name, user.discriminator, user.avatar_url) }}</h1>

        <h2 class="title is-4">Submitted Albums</h2>
        <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <th></th>
                <th>Album</th>
                <th>Streaming Link</th>
                <th>Event</th>
                <th>Recipient</th>
                <th>Review</th>
            </tr>
            </thead>
            <tbody>
            {% for submission in submissions %}
                <tr>
                    <td>
                        <figure class="image is-64x64">
                            {% if submission.cover_url %}
                                <img src="{{ submission.cover_url }}" alt="">
                            {% else %}
                                <img src="/static/cancel.png" alt="">
                            {% endif %}
                        </figure>
                    </td>
                    <td>
                        {{ submission.album_title }}
                    </td>
                    <td>
                        <a href="{{ submission.link }}">{{ submission.link }}</a>
                        {% if submission.secondary_link %}
                            <br>
                            <a href="{{ submission.secondary_link }}">{{ submission.secondary_link }}</a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for(".event_page", slug=submission.event.slug) }}">
                            {{ submission.event.title }}
                        </a>
                    </td>
                    <td>
                        {{ receiver_name(submission) }}
                    </td>
                    <td>
                        {% if submission.review %}
                            <a @click="selectSubmission({{ submission.id }})"><i class="fas fa-eye"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2 class="title is-4">Reviewed Albums</h2>
        <table class="table is-striped is-fullwidth">
            <thead>
            <tr>
                <th></th>
                <th>Album</th>
                <th>Streaming Link</th>
                <th>Event</th>
                <th>Submitter</th>
                <th>Review</th>
            </tr>
            </thead>
            <tbody>
            {% for submission in reviewed %}
                <tr>
                    <td>
                        <a @click="showLightbox({{ submission.id }})">
                            <figure class="image is-64x64">
                                {% if submission.cover_url %}
                                    <img src="{{ submission.cover_url }}" alt="">
                                {% else %}
                                    <img src="/static/cancel.png" alt="">
                                {% endif %}
                            </figure>
                        </a>
                    </td>
                    <td>
                        {{ submission.album_title }}
                    </td>
                    <td>
                        <a href="{{ submission.link }}">{{ submission.link }}</a>
                        {% if submission.secondary_link %}
                            <br>
                            <a href="{{ submission.secondary_link }}">{{ submission.secondary_link }}</a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for(".event_page", slug=submission.event.slug) }}">
                            {{ submission.event.title }}
                        </a>
                    </td>
                    <td>
                        {{ submitter_name(submission) }}
                    </td>
                    <td>
                        {% if submission.review %}
                            <a @click="selectSubmission({{ submission.id }})"><i class="fas fa-eye"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ submissions_context(reviewed) }}
    </div>
{% endblock %}
